body {
	padding: 0em;
	margin: 0;
	font-family: sans-serif;
	font-size: 9pt;
	height: 96%;
	-moz-user-select: none;
	-webkit-user-select: none;
	line-height: 16px !important;;
}

div#root {
	text-align: center;
	color: gray;
	display: table;	
	border-spacing: 1em;
	height: 96%;
}

div#root > h2 {
	display: table-row;
	height: 1%;
}

div#universe {
	margin: 1em;
}

div.environment {
	border: 1px dashed blue;
	display: table-cell;
	vertical-align: center;
	width: 100%;
}

div.container {
	display: table-cell;
	padding: 1em;
	margin: 1em;
}

div.header {
	background-color: beige;
	border-bottom: 1px solid black;
	height: auto;
	margin: 0;
	padding: 1em;
	vertical-align: middle;
}

input#search {
	background-color: #fff;
	border: 1px solid #bbb;
	margin: 0; 
	padding: 12px;
}

div#toolbox {
	padding: .2em;
	border: 1px solid #bbb;
	background-color: white;
}

input#search:focus, div#toolbox:hover {
	border: 1px solid black;
}

div#toolbox.subtle {
	background-color: lightgray;
	padding: 12px;
	cursor: no-drop;
}

div#searchboxContainer {
	display: table-cell;
}

div#toolboxContainer {
	display: table-cell;
	width: 100%;
	padding-right: 1em;
	padding-left: 1em;
}

div#infoboxContainer {
	display: table-cell;
	text-align: left;
	min-width: 400px;
}

h1 {
	font-size: 12pt;
}

h3 {
	margin: 0;
	font-size: 9pt;
}

div#toolbox div.component {
	cursor: move;
}

div.component {
	background-color: lightgray;
	color: black;
	display: inline-block;
	margin: .2em;
	padding: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid gray;
}

div#toolbox div.component:hover {
	background-color: purple;
	color: white;
}
div.environment div.component:hover {
	background-color: cyan;
}

.draggableHover {
	background-color: lightgreen !important;
}

.draggableActive {
	background-color: orange;
}

.cluster {
	border: 1px solid green;
	display: table;
	vertical-align: top;
	margin: 1em;
}

h2 {
	font-size: 11pt;
	margin: 0;
	padding: .2em;
	text-align: left;
}

div.stack {
	border: 3px double red;
	display: inline-block;
}

div.systemSoftware {
	border: 1px solid purple;
	display: block;
}

div.physicalMachine {
	border: 1px solid orange;
	display: block;
}

div.vmPool {
	border: 1px solid cyan;
	display: block;
}

img.icon {
	padding-right: 2px;
	margin-bottom: -3px;
}

img.close:hover {
	opacity: 1;
}

div.appPool {
	border: 1px dashed gray;
	display: block;
}

div.os div.appPool {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
} 

p {
	margin: 0;
}

button.add {
	background-repeat: no-repeat;
	background-image: url('icons/add.png');
	padding-left: 20px;
}

button.close {
	background-image: url('icons/close.png');
	background-repeat: no-repeat;
}

.subtle {
	color: gray;
}

.clickSearch:hover {
	background-color: yellow;
} 

.ui-menu-item {
	text-align: left;
}

.ui-menu-item .ui-state-focus {
	background-image: url('icons/next.png') !important;
	background-repeat: no-repeat !important;
	background-position: right !important;
}

h2.hasTooltip {
	display: block;
}

h2.hasTooltip:hover {
	background-color: cyan;
}
