html {
 height: 100%; 
}

body {
  min-height: 100%;
}

body {
	padding: 0em;
	margin: 0;
	font-family: sans-serif !important;
	font-size: 9pt;
  user-select: none;
	line-height: 16px !important;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

footer {
  text-align: center;
  padding: 1em;
  padding-top: 0;
}

.ui-widget {
	font-family: sans-serif !important;
}

.ui-tooltip.ui-widget-content {
	background-image: none !important;
	background-color: lightskyblue !important; 
}

div.environment {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

div.container {
	display: flex;
  flex-direction: column;
	padding-top: .6em;
	padding-bottom: .6em;
	padding-left: 1em;
	padding-right: 1em;
  flex-grow: 1;
}

div.containerHeader {
  margin-bottom: 1em;
}

div.containerHeader h2 {
	display: inline-block;
}

div.containerContents {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 1em;
}

div.header {
	background-color: beige;
	border-bottom: 1px solid black;
	height: auto;
	margin: 0;
	padding: 1em;
	vertical-align: middle;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

input#search {
	background-color: #fff;
	border: 1px solid #bbb;
	margin: 0; 
	padding: 12px;
}

div#toolbox {
	padding: .2em;
	border: 1px solid #bbb;
	background-color: white;
}

input#search:focus, div#toolbox:hover {
	border: 1px solid black;
}

div#toolbox.subtle {
	background-color: lightgray;
	padding: 12px;
	cursor: no-drop;
}

div#searchboxContainer {
	display: table-cell;
}

div#toolboxContainer {
	display: table-cell;
	width: 100%;
	padding-right: 1em;
	padding-left: 1em;
}

div#infoboxContainer {
	text-align: left;
	min-width: 400px;
}

h1 {
	font-size: 12pt;
}

h3 {
	margin: 0;
	font-size: 9pt;
}

div#toolbox div.component {
	cursor: move;
}

div.component {
	background-color: lightgray;
	color: black;
	display: inline-block;
	margin: .2em;
	padding: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid gray;
}

div#toolbox div.component:hover {
	background-color: #8205FF;
	color: white;
}

div.environment div.component:hover {
	background-color: skyblue;
	border-color: blue;
}

.draggableHover {
	background-color: lightgreen !important;
}

.draggableActive {
	background-color: orange;
}

.cluster {
	border: 1px solid black;
  border-radius: .5em;
  background-color: white;
	display: table;
}

h2 {
	font-size: 11pt;
	margin: 0;
	padding: .2em;
	text-align: left;
}

div.buttonToolbar {
	display: inline-block;
}

div.stack {
	box-shadow: 0 0 5px #AAAAAA;
  background-color: #f0f0f0;
	border: 1px solid black;
  border-radius: .5em;
	display: flex;
  flex-direction: column;
  gap: 1em;
  flex-grow: 0;
  align-self: flex-end;
}

div.systemSoftware {
	border: 1px solid gray;
	display: block;
}

div.physicalMachine {
	border: 1px solid gray;
	display: block;
  text-align: center;
}

div.vmPool {
	border: 1px solid skyblue;
	display: block;
}

div.container-pool {
  border: 1px solid skyblue;
  display: block;
}

img.icon {
	padding-right: 2px;
	margin-bottom: -3px;
  width: 16px;
  height: 16px;
}

ul.ui-menu li img {
  width: 16px;
}

ul.ui-menu li a {
  display: block;
}

ul.ui-menu li a:hover  {
  background-color: beige;
  font-weight: bold;
}

img.close:hover {
	opacity: 1;
}

div.appPool {
	border: 1px dotted gray;
	display: block;
}

div.os div.appPool {
	margin-left: 0;
	margin-right: 0;
	margin-top: 6px;
} 

p {
	margin: 0;
}

.ui-widget-header .ui-state-default {
	background-image: none;
}

button.command, button.ui-button {
	background-repeat: no-repeat;
	background-image: none;
	background-position: 2px 2px !important;
	padding: 2px;
	padding-left: 20px;
	border: 1px outset gray !important;
	margin: 2px;
	background-color: #ccc !important;
	min-width: 22px;
}

button.command:hover, button.ui-button:hover {
	border: 1px outset black !important;
	background-color: #eee !important;
}


button.notext, button.noIcon {
	padding-left: 0;
}

button.calculate {
	background-image: url('../images/icons/calculator.png');
}

button.add {
	background-image: url('../images/icons/add.png');
}

button.close, .ui-icon-closethick {
	background-position: center !important;
	background-image: url('../images/icons/close.png') !important;
}

button.settings {
	background-image: url('../images/icons/settings.png');
}

button.save {
	background-image: url('../images/icons/save.png');
}	

button:disabled {
	opacity: .5;
}

div#toolbox button {
	float: right;
	padding: 6px;
	background-color: transparent;
	background-position: center;
	border: 1px solid #fff;
}

div#toolbox button:hover {
	border: 1px solid black;
	background-color: lightgray;
}

.subtle {
	color: gray;
}

.clickSearch:hover {
	color: black;
	background-color: #FFB56B;
	background-color: #FDF5CE;
	background-image: url('../images/icons/add.png');
	background-repeat: no-repeat;
	background-position: right top;
	border-color: black;
	border-color: #FBCB09; 
	color: #C77405;
} 

.clickSearchFull:hover {
	background-image: url('../images/icons/denied.png');
	background-repeat: no-repeat;
	background-position: right top;
	background-color: #efefef;
}

.ui-menu-item {
	text-align: left;
}

.ui-menu-item .ui-state-focus {
	background-image: url('../images/icons/next.png') !important;
	background-repeat: no-repeat !important;
	background-position: right !important;
	padding-right: 16px;
}

.hasTooltip {
	border-bottom: 1px dashed gray;
}

.hasTooltip:hover {
	background-color: skyblue;
	color: #52798a;
	border-bottom: 1px dashed black;
}

div.close {
	background-color: salmon;
	color: black;
	border-color: #d63600;
}

div.close div.component, div.close div.container {
	border-color: black !important;
}

.ui-corner-all, .ui-corner-left, .ui-corner-right, .ui-corner-tl, .ui-corner-tr, .ui-corner-bl, .ui-corner-br {
	border-radius: 0 !important;
}

.ui-dialog-titlebar {
	border: 0;
	border-bottom: 1px solid gray;
	background-image: none;
	background: beige;
	color: black;
	font-size: 11pt;
}

.ui-dialog {
	background: #fff;
	border: 1px solid black;
	padding: 0;
}
